USE [master]
GO
/****** Object:  Database [dbventas]    Script Date: 20/05/2022 18:07:34 ******/
CREATE DATABASE [dbventas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbventas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbventas.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbventas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbventas_1.ldf' , SIZE = 7616KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbventas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbventas]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[idcategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_categoria] PRIMARY KEY CLUSTERED 
(
	[idcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[idcliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[telefono] [varchar](9) NOT NULL,
	[dni] [varchar](8) NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[idddetalle_venta] [int] IDENTITY(1,1) NOT NULL,
	[idventa] [int] NOT NULL,
	[idproducto] [int] NOT NULL,
	[cantidad] [decimal](18, 2) NOT NULL,
	[precio_unitario] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_detalle_venta] PRIMARY KEY CLUSTERED 
(
	[idddetalle_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[idproducto] [int] IDENTITY(1,1) NOT NULL,
	[idcategoria] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[stock] [decimal](18, 2) NOT NULL,
	[precio_compra] [decimal](18, 2) NOT NULL,
	[precio_venta] [decimal](18, 2) NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[imagen] [image] NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[idproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[idrol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[idrol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[idrol] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[dni] [varchar](8) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[telefono] [varchar](9) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[acceso] [varchar](1) NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[idventa] [int] IDENTITY(1,1) NOT NULL,
	[idcliente] [int] NOT NULL,
	[fecha_venta] [date] NOT NULL,
	[tipo_documento] [varchar](50) NOT NULL,
	[num_documento] [varchar](50) NOT NULL,
	[idusuario] [int] NULL,
 CONSTRAINT [PK_ventas] PRIMARY KEY CLUSTERED 
(
	[idventa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categoria] ON 

INSERT [dbo].[categoria] ([idcategoria], [nombre_categoria]) VALUES (7, N'Medias')
INSERT [dbo].[categoria] ([idcategoria], [nombre_categoria]) VALUES (8, N'Pantalones')
INSERT [dbo].[categoria] ([idcategoria], [nombre_categoria]) VALUES (9, N'Enterizos')
SET IDENTITY_INSERT [dbo].[categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([idcliente], [nombre], [apellidos], [direccion], [telefono], [dni]) VALUES (15, N'pacho', N'delagado', N'Av zarur', N'979190294', N'Av zarur')
INSERT [dbo].[cliente] ([idcliente], [nombre], [apellidos], [direccion], [telefono], [dni]) VALUES (16, N'Segundo', N'Asenjo', N'Av. Las Brisas 754', N'933155584', N'Av. Las ')
INSERT [dbo].[cliente] ([idcliente], [nombre], [apellidos], [direccion], [telefono], [dni]) VALUES (17, N'Victor', N'Arce', N'Av, Chiclayo 111', N'979910021', N'72917183')
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_venta] ON 

INSERT [dbo].[detalle_venta] ([idddetalle_venta], [idventa], [idproducto], [cantidad], [precio_unitario]) VALUES (21, 19, 8, CAST(3.00 AS Decimal(18, 2)), CAST(69.00 AS Decimal(18, 2)))
INSERT [dbo].[detalle_venta] ([idddetalle_venta], [idventa], [idproducto], [cantidad], [precio_unitario]) VALUES (22, 20, 8, CAST(1.00 AS Decimal(18, 2)), CAST(69.00 AS Decimal(18, 2)))
INSERT [dbo].[detalle_venta] ([idddetalle_venta], [idventa], [idproducto], [cantidad], [precio_unitario]) VALUES (23, 21, 8, CAST(1.00 AS Decimal(18, 2)), CAST(69.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[detalle_venta] OFF
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

SET IDENTITY_INSERT [dbo].[producto] OFF
GO
SET IDENTITY_INSERT [dbo].[rol] ON 

INSERT [dbo].[rol] ([idrol], [nombre], [descripcion], [estado]) VALUES (4, N'Administrador', N'Administrador', 1)
INSERT [dbo].[rol] ([idrol], [nombre], [descripcion], [estado]) VALUES (5, N'Empleado', N'Empleado', 1)
SET IDENTITY_INSERT [dbo].[rol] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([idusuario], [idrol], [nombre], [apellidos], [dni], [direccion], [telefono], [login], [password], [acceso]) VALUES (1, 4, N'Yovani', N'Vilchez', N'72917183', N'juan gil 457', N'97818548', N'admin', N'admin12', N'1')
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[venta] ON 

INSERT [dbo].[venta] ([idventa], [idcliente], [fecha_venta], [tipo_documento], [num_documento], [idusuario]) VALUES (19, 15, CAST(N'2022-05-18' AS Date), N'Boleta', N'29799', NULL)
INSERT [dbo].[venta] ([idventa], [idcliente], [fecha_venta], [tipo_documento], [num_documento], [idusuario]) VALUES (20, 16, CAST(N'2022-05-19' AS Date), N'Factura', N'154846526', NULL)
INSERT [dbo].[venta] ([idventa], [idcliente], [fecha_venta], [tipo_documento], [num_documento], [idusuario]) VALUES (21, 17, CAST(N'2022-05-19' AS Date), N'Factura', N'15154548', NULL)
SET IDENTITY_INSERT [dbo].[venta] OFF
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_detalle_venta_producto] FOREIGN KEY([idproducto])
REFERENCES [dbo].[producto] ([idproducto])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK_detalle_venta_producto]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_detalle_venta_ventas] FOREIGN KEY([idventa])
REFERENCES [dbo].[venta] ([idventa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK_detalle_venta_ventas]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_producto_categoria] FOREIGN KEY([idcategoria])
REFERENCES [dbo].[categoria] ([idcategoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_producto_categoria]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol] FOREIGN KEY([idrol])
REFERENCES [dbo].[rol] ([idrol])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_rol]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_usuario] FOREIGN KEY([idusuario])
REFERENCES [dbo].[usuario] ([idusuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_usuario]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_ventas_cliente] FOREIGN KEY([idcliente])
REFERENCES [dbo].[cliente] ([idcliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_ventas_cliente]
GO
/****** Object:  StoredProcedure [dbo].[aumentar_stock]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[aumentar_stock]
@idproducto as integer,
@cantidad as decimal (18,2)
as
update producto set stock=stock+@cantidad where idproducto=@idproducto
GO
/****** Object:  StoredProcedure [dbo].[backup_base]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[backup_base]
as
BACKUP DATABASE [dbventas]
TO DISK =N'C:\Sisventas\BaseDatos\dbventas.bak'
WITH DESCRIPTION=N'Respaldo de la base de datos del Sistema de Ventas',
NOFORMAT,
INIT,
NAME=N'dbventas',
SKIP,
NOREWIND,
NOUNLOAD,
STATS=10,
CHECKSUM
GO
/****** Object:  StoredProcedure [dbo].[disminuir_stock]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[disminuir_stock]
@idproducto as integer,
@cantidad as decimal (18,2)
as
update producto set stock=stock-@cantidad where idproducto=@idproducto
GO
/****** Object:  StoredProcedure [dbo].[editar_categoria]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_categoria]
@idcategoria integer,
@nombre_categoria varchar(50)
as
update categoria set nombre_categoria=@nombre_categoria
where idcategoria=@idcategoria
GO
/****** Object:  StoredProcedure [dbo].[editar_cliente]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_cliente]
@idcliente integer,
@nombre varchar (50),
@apellidos varchar (50),
@direccion varchar (100),
@telefono varchar (9),
@dni varchar (8)
as
update cliente set nombre=@nombre,apellidos=@apellidos,direccion=@direccion,telefono=@telefono,dni=@dni
where idcliente=@idcliente
GO
/****** Object:  StoredProcedure [dbo].[editar_detalle_venta]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_detalle_venta]
@iddetalle_venta as integer,
@idventa as integer,
@idproducto as integer,
@cantidad as decimal (18,2),
@precio_unitario as decimal (18,2)
as
update detalle_venta set idventa=@idventa,idproducto=@idproducto,cantidad=@cantidad,precio_unitario=@precio_unitario
where idddetalle_venta=@iddetalle_venta
GO
/****** Object:  StoredProcedure [dbo].[editar_producto]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_producto]
@idproducto integer,
@idcategoria integer,
@nombre varchar (50),
@descripcion varchar (50),
@stock decimal (18,2),
@precio_compra decimal (18,2),
@precio_venta decimal (18,2),
@fecha_vencimiento date,
@imagen image
as
update producto set idcategoria=@idcategoria,nombre=@nombre,descripcion=@descripcion,
stock=@stock,precio_compra=@precio_compra,precio_venta=@precio_venta,fecha_vencimiento=@fecha_vencimiento,
imagen=@imagen
where idproducto=@idproducto
GO
/****** Object:  StoredProcedure [dbo].[editar_venta]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_venta]
@idventa as integer,
@idcliente as integer,
@fecha_venta as date,
@tipo_documento as varchar (50),
@num_documento as varchar (50)
as
update venta set idcliente=@idcliente,fecha_venta=@fecha_venta,tipo_documento=@tipo_documento,num_documento=@num_documento
where idventa=@idventa
GO
/****** Object:  StoredProcedure [dbo].[eliminar_categoria]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_categoria]
@idcategoria integer
as
delete from categoria where idcategoria=@idcategoria
GO
/****** Object:  StoredProcedure [dbo].[eliminar_cliente]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[eliminar_cliente]
@idcliente integer
as
delete from cliente where idcliente=@idcliente
GO
/****** Object:  StoredProcedure [dbo].[eliminar_detalle_venta]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_detalle_venta]
@iddetalle_venta as integer
as
delete from detalle_venta where idddetalle_venta=@iddetalle_venta
GO
/****** Object:  StoredProcedure [dbo].[eliminar_producto]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_producto]
@idproducto integer
as
delete from producto where idproducto=@idproducto
GO
/****** Object:  StoredProcedure [dbo].[eliminar_venta]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_venta]
@idventa as integer
as
delete from venta where idventa=@idventa
GO
/****** Object:  StoredProcedure [dbo].[generar_comprobante]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[generar_comprobante]
@idventa int
as
SELECT     dbo.venta.idventa, dbo.cliente.nombre, dbo.cliente.apellidos, dbo.cliente.dni, dbo.venta.fecha_venta, dbo.venta.tipo_documento, dbo.venta.num_documento, 
                      dbo.producto.nombre AS Descripcion, dbo.detalle_venta.cantidad, dbo.detalle_venta.precio_unitario, 
                      dbo.detalle_venta.cantidad * dbo.detalle_venta.precio_unitario AS Total_Parcial
FROM         dbo.venta INNER JOIN
                      dbo.detalle_venta ON dbo.venta.idventa = dbo.detalle_venta.idventa INNER JOIN
                      dbo.producto ON dbo.detalle_venta.idproducto = dbo.producto.idproducto INNER JOIN
                      dbo.cliente ON dbo.venta.idcliente = dbo.cliente.idcliente
                      
                      where dbo.venta.idventa=@idventa
GO
/****** Object:  StoredProcedure [dbo].[insertar_categoria]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_categoria]
@nombre_categoria varchar(50)
as
insert into categoria (nombre_categoria) values (@nombre_categoria)
GO
/****** Object:  StoredProcedure [dbo].[insertar_cliente]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_cliente]
@nombre varchar (50),
@apellidos varchar (50),
@direccion varchar (100),
@telefono varchar (10),
@dni varchar (8)
as
insert into cliente (nombre,apellidos,direccion,telefono,dni) values (@nombre,@apellidos,@direccion,@telefono,@dni)
GO
/****** Object:  StoredProcedure [dbo].[insertar_detalle_venta]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_detalle_venta]
@idventa as integer,
@idproducto as integer,
@cantidad as decimal (18,2),
@precio_unitario as decimal (18,2)
as
insert into detalle_venta (idventa,idproducto,cantidad,precio_unitario)
values (@idventa,@idproducto,@cantidad,@precio_unitario)
GO
/****** Object:  StoredProcedure [dbo].[insertar_producto]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_producto]
@idcategoria integer,
@nombre varchar (50),
@descripcion varchar (50),
@stock decimal (18,2),
@precio_compra decimal (18,2),
@precio_venta decimal (18,2),
@fecha_vencimiento date,
@imagen image
as
insert into producto (idcategoria,nombre,descripcion,stock,precio_compra,precio_venta,fecha_vencimiento,imagen)
values (@idcategoria,@nombre,@descripcion,@stock,@precio_compra,@precio_venta,@fecha_vencimiento,@imagen)
GO
/****** Object:  StoredProcedure [dbo].[insertar_venta]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_venta]
@idcliente as integer,
@fecha_venta as date,
@tipo_documento as varchar (50),
@num_documento as varchar (50)
as
insert into venta (idcliente,fecha_venta,tipo_documento,num_documento)
values (@idcliente,@fecha_venta,@tipo_documento,@num_documento)
GO
/****** Object:  StoredProcedure [dbo].[mostrar_categoria]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[mostrar_categoria]
as
select * from categoria order by idcategoria desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_cliente]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[mostrar_cliente]
as
select * from cliente order by idcliente desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_detalle_venta]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[mostrar_detalle_venta] 
as
SELECT     dbo.detalle_venta.idddetalle_venta, dbo.detalle_venta.idventa, dbo.detalle_venta.idproducto, dbo.producto.nombre, dbo.detalle_venta.cantidad, 
                      dbo.detalle_venta.precio_unitario
FROM         dbo.detalle_venta INNER JOIN
                      dbo.producto ON dbo.detalle_venta.idproducto = dbo.producto.idproducto
                       order by dbo.detalle_venta.idddetalle_venta desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_producto]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[mostrar_producto]
as
select producto.idproducto,producto.idcategoria,categoria.nombre_categoria,producto.nombre,
producto.descripcion,producto.stock,producto.precio_compra,producto.precio_venta,producto.fecha_vencimiento,
producto.imagen
from producto inner join categoria on producto.idcategoria=categoria.idcategoria
order by producto.idproducto desc
GO
/****** Object:  StoredProcedure [dbo].[mostrar_venta]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[mostrar_venta]
as
SELECT     dbo.venta.idventa, dbo.venta.idcliente, dbo.cliente.apellidos, dbo.cliente.dni, dbo.venta.fecha_venta, dbo.venta.tipo_documento, dbo.venta.num_documento
FROM         dbo.cliente INNER JOIN
                      dbo.venta ON dbo.cliente.idcliente = dbo.venta.idcliente
                      order by dbo.venta.idventa desc 
                      
GO
/****** Object:  StoredProcedure [dbo].[validar_usuario]    Script Date: 20/05/2022 18:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[validar_usuario]
@login varchar(50),
@password varchar(50)
as
select * from usuario
where login=@login and password=@password and acceso='1'
GO
USE [master]
GO
